*.class
*.jar
build.xml
build_copy.xml
nbproject/
build/
web/WEB-INF/classes/
web/WEB-INF/lib/
dist/

#eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# CDT-specific
.cproject

#emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp

#redcar
.redcar

#vi
*.swp
*.swo

#vim
.*.sw[a-z]
*.un~
Session.vim

#textmate
*.tmproj
*.tmproject
tmtags

#ctags
tags
tags_sorted_by_file

#OS X
.DS_Store
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#Linux
.*
!.gitignore
*~
*.sw[a-p]

# KDE
.directory

#Windows
# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini

#archives
*.7z
*.dmg
*.gz
*.iso
#*.jar
*.rar
*.tar
*.tar.gz
*.zip
*.bzip

desktop.ini